.container {
    width: 100%;
    color: black;
    background-color: #ffed47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10vh 20px;
    flex-direction: column;
    flex: 1;
    flex-basis: 350px;
  }
  .basic_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }
  .header h1 {
    font-size: calc(25px + 5vw);
    letter-spacing: 4px;
    align-self: flex-end;
  }
  .subtitle {
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 15px;
  }
  .infocards {
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .infocards p {
    width: 100%;
    border: 4px solid black;
    margin: 5px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: white;
    transition: 0.3s;
  }
  .infocards p:hover {
    background-color: black;
    color: white;
    padding-bottom: 5vh;
  }
  p {
    line-height: 160%;
    letter-spacing: 1px;
    font-size: 15px;
  }
  .img {
    width: 100%;
    min-width: 120px;
    max-width: 25vw;
  }
  