.form {
	background: #ffffff;
	border: 8px solid #000000;
	padding: 20px;
}

.btn {
	border: none;
	color: white;
	background-color: black;
	display: flex;
	padding: 10px 40px;
	justify-content: center;

	border-radius: 7px;
	margin-left: 60px;
	font-weight: 900;
}



.headerBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header {
}
.bodyContent {
	margin-top: 60px;
}
