.form {
	background: #ffffff;
	border: 20px solid #000000;
	padding: 20px;
}

.btn {
	border: none;
	color: white;
	background-color: black;
	display: flex;
	width: 400px;
	justify-content: center;
	padding: 15px 0;
	border-radius: 7px;
	font-size: 1.3em;
	font-weight: 900;
}

.btnWrapper {
	width: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header {
}
.bodyContent {
}
